.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding-left: 30px; /* Ajuste conforme necessário */
}

.search-icon {
  position: absolute;
  left: 10px; /* Ajuste conforme necessário */
  font-size: 1.2rem; /* Ajuste conforme necessário */
  color: #6c757d; /* Cor do ícone */
}
